*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  margin: 0;
}

div.uvod {
  margin: 12.5% 20% 20% 20%;
  width: calc (100% / 2);
}

img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

div .foto {
  width: 100%;
}

h1 {
  font-family: "Lobster", serif;
  font-size: 34px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  padding: 0% 4%;
}

.uvod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

div.text {
  color: #ffffff;
  text-align: center;
  background-color: #283e50;
  padding: 4% 0% 2% 0%;
  width: 100%;
  text-decoration: none;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

div.button {
  width: 100%;
}

.button1 {
  background-color: #1fcca4;
  padding: 4% 0%;
  border-bottom: black solid 1px;
}

.button1:link {
  background-color: #1fcca4;
  text-decoration: none;
}

.button1:hover {
  background-color: #1cbb96;
  text-decoration: none;
}

.button2 {
  background-color: #0197f6;
  padding: 4% 0%;
}

.button2:hover {
  background-color: #0090e9;
}
